body{
/* font-family: 'Merriweather Sans', sans-serif;
font-family: 'Open Sans', sans-serif; */
font-family: 'Quicksand', sans-serif;
}
/* Navigation bar on the article page */
.article-page-navbar{
  padding: 0.5% 10% 0.5% 10%;
  position:fixed;
  z-index:1000;
  background-color: #42240c;
  /* background-color: black; */
}
.logo{
  font-size: 29px;
  font-weight: bold;
  color:white;
}
.logo:hover{
  color:white;
}
.nav-link{
  color:white;
}
.nav-link:hover{
  color:white;
}
.navbar-dark .navbar-toggler-icon {
  /* background-color:; */
  border: 0;
}
.collapsing-button {
  border-width:0;
}
.fa-bars{
  background-color: #42240c;
  color:white;
}

/* Article content represents the completer column that has HEADER BODY AND CONNECT WITH ME */

.article-content{
  margin-top:12%;
  margin-left: 20%;
  margin-right:20%;
}

/* Inside Article Content */
.article-date{
  font-size: 18px;
  color:brown;
}
.article-header{
  margin-top:3%;
  color:brown;
}
.article-body{
  line-height: 2;
  margin-top:7%;
  margin-bottom:7%;
}
.article-connectwithme{
  margin-left: 20%;
  margin-right:20%;
  text-align: center;
  margin-bottom:5%;
  color:brown;
}
.connecticons{
  margin: 1%;
  font-weight: bolder;
  font-size:18px;
  color:brown;
}
@media (min-width:768px) and (max-width:991.99999px) {
  .article-page-navbar{
    padding: 0% 2% 1% 2%;
    position:fixed;
    z-index:1000;
    background-color: #42240c;
  }
    .logo{
      font-size: 27px;
    }

    .article-content{
      margin-top:20%;
      margin-left: 10%;
      margin-right:10%;
    }

    /* Inside Article Content */
    .article-date{
      font-size: 16px;
    }
    .article-header{
      margin-top:3%;
      font-size:27px;
    }
    .article-body{
      font-size:16px;
    }

    .article-connectwithme{
      text-align: center;
      margin-left: 10%;
      margin-right:10%;
    }
    .connecticons{
      font-size:16px;
    }


}

@media (min-width:576.1px) and (max-width:767.99999999px) {
  .article-page-navbar{
    padding: 0% 2% 1% 2%;
    position:fixed;
    z-index:1000;
    background-color: #42240c;
  }
    .logo{
      font-size: 25px;
    }

    .article-content{
      margin-top:20%;
      margin-left: 10%;
      margin-right:10%;
    }

    /* Inside Article Content */
    .article-date{
      font-size: 14px;
    }
    .article-header{
      margin-top:3%;
      font-size:25px;
    }
    .article-body{
      font-size:16px;
    }

    .article-connectwithme{
      text-align: center;
      margin-left: 10%;
      margin-right:10%;
    }
    .connecticons{
      font-size:14px;
    }


}
@media (max-width: 576px) {
  .article-page-navbar{
    padding: 0% 2% 1% 2%;
    position:fixed;
    z-index:1000;
    background-color: #42240c;
  }
    .logo{
      font-size: 20px;
    }
    /* Article content represents the completer column that has HEADER BODY AND CONNECT WITH ME */

    .article-content{
      margin-top:25%;
      margin-left: 10%;
      margin-right:10%;
    }

    /* Inside Article Content */
    .article-date{
      font-size: 12px;
    }
    .article-header{
      margin-top:3%;
      font-size:20px;
    }
    .article-body{
      font-size:14px;
    }

    .article-connectwithme{
      text-align: center;
      margin-left: 10%;
      margin-right:10%;
    }
    .connecticons{
      font-size:12px;
    }

   }
