

/* MAIN PAGE NAVIGATION BAR */
.main-page-navbar {
  padding: 0 7% 0 7%;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: black;
}

.logo {
  font-size: 30px;
  color: white;
}

.logo:hover {
  text-decoration: none;
  color: white;
}

.dot {
  color: white;
}

.collapsing-button {
  border-width:0;
}

.fa-bars {
  color: white;
  border:0;
}

/* MAIN PAGE BODY (the container that holds two columns 1. About me brief 2. The Post headers and desc)*/
.main-page-content {
  margin-top: 8%;
  padding: 0 4%;
}

/* MAIN PAGE BODY - Left Side 1. About me Brief */
.main-page-content-left {
  padding-top: 0.5%;
  text-align: center;
  position: fixed;
  padding-right: 5%;
  /* width:20%; */
}

.main-page-content-left .profile-pic {
  height: 50%;
  width: 50%;
  border-radius: 100%;
}

.main-page-content-left .brief {
  font-size: 13px;
  text-align: left;
  font-weight: normal;
}

.main-page-content-left .brief-header {
  font-size: 16px;
  color: #4a171e;
  color:black;
  font-weight: bolder;
}

.main-page-content-left .brief-links {
  color: brown;
  font-size: 13px;
}

.main-page-content-left .brief-links:hover {
  color: brown;
}

.fab {
  margin-left: 1rem;
}


/* -------------MAIN PAGE BODY - 2. Right Side (The Blog POST HEADERS and the DESCRIPTION) --------------*/

.main-page-content-right {
  padding-top: 0.5%;
  padding-bottom:0;
  margin-left: 25%;
}


/* The Actual Blog Posts start here for the 2.Right Side column*/
.blog-main-post {
  padding-left: 12%;
  padding-right: 12%;
  padding-bottom: 3.5rem;
}

.blog-main-post-header {
  font-size: 20px;
  padding-bottom: 0.5rem;
}

.blog-header-links {
  color:black;
  font-weight: bolder;
  /* text-decoration: underline; */
}

.blog-header-links:hover {
  color: #4a171e;
}

.blog-main-post-description {
  font-weight: 300;
  font-size: 15px;
}

.blog-main-post .article-date {
  font-size: 12px;
  color: brown;
}

/* .blog-article-tag {
  padding-top: 0.2rem;
  font-size: 12px;
  color: brown;
  margin-left: 2%;
} */

.continue-link {
  font-size: 14px;
  color: #ee4e34;
  font-weight: bold;
}

/* Media Queries start here - totally 4 of them */
/* 1st Media Query for screens < 576px */
@media (max-width: 576px) {


  .overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: #fff2e5; */
    background-color: lightgrey;
    overflow-y:scroll;
    overflow-x:hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 10%;
    left: 4%;
    right:10%;
    text-align: left;
    margin-top: 10px;
    padding-right:3%;
  }

  .onclick-mainheader{
    padding-left:4%;
  }

  .overlay .onclick-header {
    font-size: 16px;
    font-weight: bold;
    color: black;
    display: block;
    padding-left:4%;
    transition: 0.3s;
  }

  .overlay .onclick-description {
    font-size: 14px;
    color: black;
    display: inline-block;
    transition: 0.3s;
    padding-left:4%;
    padding-right:12%;
  }

  .overlay a {
    text-decoration: underline;
    font-size: 13px;
    color: brown;
    display: inline;
    transition: 0.3s;
  }

  .fas{
    padding-left:4%;
  }
  .fab {
    margin-left: 1rem;
  }

  .overlay{
    padding-left:4%;
  }


  .overlay .closebtn {
    text-decoration: none;
    color: black;
    position: absolute;
    top: 0;
    right: 7%;
    font-size: 50px;
  }


  .main-page-navbar {
    padding: 0 2% 1% 2%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: black;
  }

  .logo {
    font-size: 20px;
  }

  #mobile-intro{
    margin-top:8%;
    text-align: center;
    padding-top:8%;
    padding-bottom:4%;
    visibility:visible;
    font-size: 15px;
    background-color:lightgrey;
  }
  .mobile-intro-text{
    margin-left: 4%;
    margin-right: 4%;
    font-size: 18px;
  }

  .main-page-content {
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
  }

  .main-page-content-right {
    padding-top: 6%;
    margin: 0;
  }

  .blog-main-post {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 2rem;
  }

  .blog-header-links {
    color: black;
    font-size: 19px;
  }

  .blog-main-post-description {
    font-size: 15px;
  }

  .handcrafterbyme {
    font-size: 14px;
    color: white;
    background-color: black;
    text-align: center;
    padding: 0.5% 0 0.5% 0;
    margin-top: 5%;
    visibility: visible;
  }
}

/* 2nd Media Query for screens b/w 576px and 768px*/
@media (min-width: 576.00000000000000001px) and (max-width: 767.9999999999999px) {


  .overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: #fff2e5; */
    background-color: lightgrey;
    overflow-y: scroll;
    overflow-x:hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: absolute;
    top: 10%;
    left: 8%;
    text-align: left;
    margin-top: 10px;
  }
  .onclick-mainheader{
    padding-left:4%;
  }
  .overlay .onclick-header {
    font-size: 18px;
    font-weight: bold;
    color: black;
    display: block;
    transition: 0.3s;
    padding-left:4%;
  }

  .overlay .onclick-description {
    font-size: 16px;
    color: black;
    display: block;
    transition: 0.3s;
    padding-left:4%;
    padding-right:15%;
  }

  .overlay a {
    text-decoration: underline;
    font-size: 14px;
    color: brown;
    display: inline;
    transition: 0.3s;
  }

  .fas{
    padding-left:4%;
  }

  .fab {
    margin-left: 1rem;
  }

  .overlay .closebtn {
    text-decoration: none;
    color: black;
    position: absolute;
    top: 0;
    right: 7%;
    font-size: 50px;
  }

  .main-page-navbar {
    padding: 0 2% 1% 2%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: black;
  }

  .logo {
    font-size: 24px;
  }

  #mobile-intro{
    margin-top:8%;
    padding-top:7%;
    padding-bottom:4%;
    text-align: center;
    font-size: 22px;
    visibility:visible;
    background-color:lightgrey;

  }
  .mobile-intro-text{
    margin-left: 5%;
    font-size: 25px;
  }

  .main-page-content {
    margin-top: 4%;
    margin-left: 4%;
    margin-right: 4%;
  }

  .main-page-content-right {
    padding-top: 6%;
    margin: 0;
  }

  .blog-main-post {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 2rem;
  }

  .blog-header-links {
    color: black;
    font-size: 19px;
  }

  .blog-main-post-description {
    font-size: 15px;
  }


  .handcrafterbyme {
    font-size: 15px;
    color: white;
    background-color: black;
    text-align: center;
    padding: 0.5% 0 0.5% 0;
    margin-top: 10%;
    visibility: visible;
  }
}

/* 3rd Media Query for screens > 768px and 992px*/
@media (min-width: 768px) and (max-width: 991px) {
  #mobile-intro{
    visibility:visible;
  }
  .overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: lightgrey;
    overflow-y: scroll;
    overflow-x:hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: absolute;
    top: 10%;
    left: 8%;
    text-align: left;
    margin-top: 10px;
  }

  .onclick-mainheader{
    padding-left:4%;
  }

  .overlay .onclick-header {
    font-size: 20px;
    font-weight: bold;
    color: black;
    display: block;
    transition: 0.3s;
    padding-left:4%;
  }

  .overlay .onclick-description {
    font-size: 18px;
    color: black;
    display: block;
    transition: 0.3s;
    padding-left:4%;
    padding-right: 20%;
  }

  .overlay a {
    text-decoration: underline;
    font-size: 15px;
    color: brown;
    display: inline;
    transition: 0.3s;
  }

  .fas{
    padding-left:4%;
  }

  .fab {
    margin-left: 1rem;
  }

  .overlay .closebtn {
    text-decoration: none;
    color: black;
    position: absolute;
    top: 0;
    right: 7%;
    font-size: 50px;
  }

  .main-page-navbar {
    padding: 0 2% 1% 2%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: black;
  }

  .logo {
    font-size: 28px;
  }

  #mobile-intro{
    margin-top:7%;
    padding-top:7%;
    padding-bottom:4%;
    text-align: center;
    font-size: 26px;
    visibility:visible;
    background-color:lightgrey;

  }
  .mobile-intro-text{
    margin-left: 3%;
    font-size: 30px;
  }

  .main-page-content {
    margin-top: 4%;
    margin-left: 4%;
    margin-right: 4%;
  }

  .main-page-content-right {
    padding-top: 6%;
    margin: 0;
  }

  .blog-main-post {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 2rem;
  }

  .blog-header-links {
    color: black;
    font-size: 19px;
  }

  .blog-main-post-description {
    font-size: 15px;
  }

  .handcrafterbyme {
    font-size: 16px;
    color: white;
    background-color: black;
    text-align: center;
    padding: 0.5% 0 0.5% 0;
    margin-top: 15%;
    visibility: visible;
  }
}

@media (min-width: 991px) {
  #mobile-intro{
    visibility:hidden;
  }
  .collapse.dont-collapse-sm {
    display: block;
    height: auto !important;
    visibility: visible;
  }

  .collapsing-button {
    visibility: hidden;
  }

  .overlay {
    visibility: hidden;
  }
  .handcrafterbyme{
    visibility: hidden;
  }
}
